* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto !important;
    padding: 0 !important;
}

.img-responsive {
    background: url("../images/hero3.jpg");
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

/* NAV */
#homeNav {
    background-color: rgba(0, 0, 0,0);
    opacity: 0;
    transition: 400ms ease;
}

#homeNav.scrolled {
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 1;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
}

.navbar-brand {
    color: #494949;
    margin-left: 2rem;
}

.nav-item {
    margin-right: 2rem;
}

.modal-dialog {
    padding: 1rem;
}

#wrapper {
    background-image: linear-gradient(to right, #000000 0%, #090909 50%,#000000 100%);
}

h1 {
    font-size: 3rem !important;
    font-weight: 600;
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 2rem;
}

h2 {
    font-size: 2.2rem !important;
    font-weight: 600;
    line-height: 1.5;
    padding: 1rem 1rem 2rem 1rem;
    color: #fff;
    /* color: #494949; */
}

h3 {
    font-size: 2.2rem !important;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.5;
    margin: 2rem 0;
}

h4 {
    color: #e23e4e;
    font-weight: 500;
    letter-spacing: 1.5px;
}

h5 {
    font-size: 2.2rem !important;
    color: #303030;
    font-weight: 500;
    line-height: 1.5;
}

h6 {
    font-size: 1.5rem !important;
    color: #303030;
}   

p {
    font-size: 1rem;
    margin: 0;
    letter-spacing: 1.5px;
    color: white;
    opacity: 0.6;
}

ul {
    list-style-type: none;
    align-content: center;
    margin: 0;
    padding: 0;
}

li {
    color: white;
    /* color: #494949; */
    font-size: 1.2rem;
    padding: .5rem;
}

a{
    color: white;
    text-decoration: none !important;
}

a:hover{
    color: #e23e4e;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, .2));

}

/* a:focus{
    color: #646464;
} */

.row {
    margin: 0!important;
}

/* HERO */
.jumbotron {
    margin: 26vh auto 10vh auto;
    background: none;
    padding: 0 !important;
}

#heroBtns {
    margin: 3rem 0 6rem 0;
}

.btn-danger {
    /* border: 1px solid #e23e4e; */
    background-color: #e23e4e;
    font-weight: 500;
    /* margin-right: 1rem; */
}

.btn-light {
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0);
    margin-top: .5rem;
    color: white;
}

#scroll2see {
    position: relative;
    top: 29vh;
    color: white;
}

#heroCTA {
    color: #fff;
}

/* SERVICES */
#services {
    padding: 10rem 0 4rem 0;
}

.card-header {
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 1);
    background-color: #131313;
    /* background: none; */
    padding: 2rem;
}

.icon {
    height: 13vh;
    padding: 1rem;
}

/* .icon:hover {
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 1));
} */

/* PRODUCTS */
#topRow {
    margin-bottom: 6rem!important;
}

#prod1Image {
    position: absolute;
    right: -300px;
}

#prodInfo {
    margin-top: 16rem;
}

#midRow {
    margin-bottom: 16rem!important;
}

#prod2Image {
    position: absolute;
    left: -350px;
}

#prodInfo2 {
    margin-top: 20rem;
}

#prodArtImage {
    background: url("../images/prodArtBG2.png");
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

/* #prod3Image {
    position: absolute;
    left: -344px;
    top: 45px;
} */

#prodInfo3 {
    padding: 20rem 0;
}

/* FEATURED WORK  */
#featWork {
    background-color: #000000;
}

.col-lg-4 {
    width: 33%;
    height: 540px;
}

/* FOOTER */
#footer {
    background-image: linear-gradient(-45deg, #01a6ed, #00dae5, #02ebbd);
    padding: 6rem 0 1rem 0 ;

}

.socialIcon {
    color: white;
    opacity: .6;
    padding: 1rem;
}

.socialIcon:hover {
    color: white;
    opacity: 1;
}

/* PORTFOLIO PAGE */

#portfolioBG {
    background-image: linear-gradient(to right, #000000 0%, #090909 50%,#000000 100%);
    /* background-color: #000000; */
}

#portfolioNav {
    background-color: #000000;
    opacity: .8;
}

/* #content {
    position: relative;
} */

.category {
    padding: 4rem 0;
    /* background-image: linear-gradient(-45deg, #01a6ed, #00dae5, #02ebbd); */
    color: #131313;
    font-size: 8rem!important;
}

.work {
    margin-bottom: 10rem;
    text-align: center;
}

.card {
    /* box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1); */
    background: none;
    padding: 2rem;
}

#toTopBtn {
    margin-bottom: 2rem;
    /* float: right; */
    position: fixed;
    bottom: 10px;
    right: 100px;
    /* z-index: 1; */
}
