* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
	scroll-snap-points-y: repeat(100vh);
	scroll-snap-type: y mandatory;
}

body {
    transition: background-color .5s;
}

/* .navbar {
    background: none !important;
    position: fixed;
    z-index: 9999;
}    */

/* ============ SIDENAV ============ */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #090909;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidenav a {
    padding: 0px 0px 0px 20px;
    text-decoration: none;
    font-size: 1.5rem;
    color: #3a3a3a;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 36px;
    margin-left: 50px;
}
  
#main {
    position: fixed;
    transition: margin-left .5s;
    padding: 10px;
    background: none;
}

#hamburger {
    width: 60px;
    opacity: 0.5;
    -webkit-filter: drop-shadow( 1px 1px 1px #000 ); 
    filter: drop-shadow( 1px 1px 1px #000 );
}

#goBack {
    position: fixed;
    top: 6vh;
    transition: margin-left .5s;
    padding: 10px;
    width: 78px;
    opacity: 0.5;
    -webkit-filter: drop-shadow( 1px 1px 1px #000 ); 
    filter: drop-shadow( 1px 1px 1px #000 );
}

#hamburger:hover {
    opacity: 1;
}
/* ================================== */

section {
    scroll-snap-align: start;
    /* -webkit-scroll-snap-destination: 50% 50%; */
}

.assets {
    width: 100%;
    /* margin: 0 !important; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* height: 100vh; */
}

.row {
    padding: 0;
    margin:0;
}

h1 {
    font-size: 4.5rem !important;
    font-weight: 500;
    color: #000;
    /* display: none; */
}

h2 {
    font-size: 3rem !important;
    margin: 2rem 0;
    font-weight: 500;
    line-height: 1;
    color: white;
}

h3 {
    color: #ffffff;
}

h4 {
    color: #000;
}

h5 {
    font-weight: 400;
    color: rgb(127, 127, 127);
}

h6 {
    font-weight: 600;
    color: #606060;
    margin: 0;
}

p {
    font-weight: 500;
    margin: 0;
    padding: 4px 0 12px 0;
}

a, i {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4);
}

.landing {
    background-color: black;
    height: 100vh;
}

#hero {
    background-image: url("../images/bulbs.svg");
    background-position: right;
    background-repeat: no-repeat;
    margin-right: 10vw;
    height: 70vh;
}

.jumbotron {
    padding-top: 25vh;
    padding-left: 17vw;
    background: none;
}

/* CTA  */
.col-1 {
    margin: 1rem;
}

/* SWITCH BUTTON */
.onoffswitch {
    position: relative; 
    /* top: 1vh; */
    width: 120px;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: 2px solid #101010; 
    border-radius: 50px;
}
.onoffswitch-inner {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    transition: margin 0.2s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; 
    float: left; 
    width: 50%; 
    height: 30px; 
    padding: 0; 
    line-height: 30px;
    font-size: 14px; 
    color: white; 
    font-weight: 500;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "OFF";
    padding-left: 10px;
    background-color: #ffff00;
    color: #101010;
}
.onoffswitch-inner:after {
    content: "ON";
    padding-right: 10px;
    background-color: #101010;
    color: #ffff00;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 18px;
    margin: 6px;
    background: #FFFFFF;
    position: absolute; 
    top: 0; 
    bottom: 0;
    right: 86px;
    border: 2px solid #101010; 
    border-radius: 50px;
    /* box-shadow: 1px 1px 5px rgb(255, 255, 0); */
    transition: all 0.2s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 4px; 
}

#switchMeOn {
    color: yellow;
    margin-bottom: 0.8rem;
    /* opacity: .5; */
}

#scrollDown {
    position: relative; 
    top: 16vh;
    margin: 0 auto;
    width: 5em;
    height: auto;
    border-radius: 50%;
    /* fill: #45abff; */
    /* background:rgb(215, 128, 128); */
    transition: background 0.5s, transform 0.5s ease-out, fill 0.5s;
}

#scrollDown:hover {
    /* fill: #0e1a25; */
    /* background:#fbfbfb; */
    transform: scale(1.2);
    /* -ms-transform: rotate(360deg);
    transform: rotate(360deg); */
    transition: background 0.5s, transform 0.5s ease-out, fill 0.5s;
}

/* PROJECTS */
.mainContent {
	-webkit-overflow-scrolling: touch;
}

.projectInfo {
    position: relative;
    top: 16vh;
}

.bioInfo {
    position: relative;
    top: 12vh;}

.text-muted {
    font-size: 14px;
}

.btn-warning {
    background-color: rgba(255, 255, 255, 0.1)!important;
    /* background: none; */
    border: none;
    position: relative;
    top: 6vh;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    font-weight: 500;
}
.btn-warning:hover {
    background-color: rgba(0, 0, 0, 0.1)!important;
    transition: all 0.1s ease-in 0s; 
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
    border: none;
    color: #ffff00;
}
.btn-warning:active {
    background-color: rgba(255, 255, 255, 0.1)!important;
    border: none;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
} 
.btn-warning:focus {
    transition: all 0.1s ease-in 0s; 
    background-color: rgba(255, 255, 255, 0.1)!important;
    border: none;
    color: white;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#branding {
    background: linear-gradient(to right, rgba(0,0,0,.8) 0%, rgba(0,0,0,0) 100%), url("../images/coverCoffee3.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

#uiUx {
    background: url("../images/coverSilver.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

#production {
    background: url("../images/coverFoodTruck.jpg"); /* linear-gradient(to right, rgba(26, 56, 14, 0.8) 0%, rgba(0,0,0,0) 40%), */
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

#contacting {
    /* background: url("../images/plug.svg"); */
    background-repeat: no-repeat;
    background-position: right;
    background-color: #f0f0f0;
    height: 100vh;
    margin-right: 0;
    border: none;
}

.btn-secondary {
    /* background-color: #ffff00!important; */
    background-color: #ffff00!important;
    color: #101010;
    border: none;
    border-radius: 50px;
    font-weight: 500;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover {
    background: none;
    background-color: rgb(255, 255, 255, 0.5)!important;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
    /* border: #ffff00; */
    color: #4d4d4d;
}

.btn-light {
    box-shadow: 0px 0px 4px  rgba(0, 0, 0, 0.3);
}

.card {
    padding: 30px;
    background-color: rgb(255, 255, 255, 0.5);
    margin-top: 2rem;
    min-width: 220px;
}

.socialIcon {
    color: #101010;
    margin: 1rem .5rem;
    opacity: .5;
}

.socialIcon:hover {
    color: #101010;
    margin: 1rem .5rem;
    opacity: 1;
    text-decoration: none!important;
}

.footer {
    position: relative;
    background-color: #f0f0f0;
    top: 20vh;
}

/* PROJECTS GENERAL */

.section-title {
    position: relative;
    top: 7vh;
    color: #101010;
}

.section-content {
    position: relative;
    top: 35vh;
}

.column {
    padding: 40px;
}

.project-hero {
    height: 70vh;
}

.nextProject {
    background-color: #000000;
    /* padding: 8rem 0; */
}

.nextProject h3 {
    position: relative;
    top: 24vh;
    height: 0;
    padding: 0;
    margin: 0;
}

.nextProject a {
    opacity: 0.4;
    transition: transform .2s;
    width: 90%;
}

.nextProject a:hover {
    opacity: 0.8;
    transform: scale(1.5);
}

/* KIS KITCHEN */

.project-details {
    /* height: 30vh; */
    width: 60%;
    margin: 0 auto;
    background-color: white;
    padding: 6vh 0;
}

#kis-concept {
    background-image: url("../images/kis/trianglesBg.jpg");
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

#kis-type {
    background-color: #ffcb05;
    height: 100vh;
}

#kis-color {
    height: 100vh;
}

#kis-products {
    background-image: url("../images/Kis-Coffee.gif");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

/* BPC Food Truck */

.container-flex {
    padding: 2rem 4rem;
}

#tft-merchandise {
    background-image: url("../images/ftfridays/foodTruck6.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin-top: 1rem;
}


@media (max-height: 667px){
    #scrollDown {
        display: none;
    }
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    section {
        scroll-snap-align: none;
        /* -webkit-scroll-snap-destination: 50% 50%; */
    }
    #hero {
        background-image: url("../images/bulbs.svg");
        background-position: center;
        background-repeat: no-repeat;
        margin: 0;
        height: 50vh;
    }

    .jumbotron {
        position: relative;
        top: 54vh;
        padding: 0!important;
        text-align: center;
        margin: 0!important;
    }

    h1 {
        font-size: 2.4rem !important;
        font-weight: 500;
        color: #000;
        /* display: none; */
    }

    h4 {
        font-size: 1.4rem !important;
    }

    .onoffswitch {
        margin: 0 auto; 
        width: 40vw;
    }

    .onoffswitch-switch {
        right: 116px;
    }

    .onoffswitch-inner:before {
        content: "OFF";
        padding-right: 120px;
        background-color: #ffff00;
        color: #101010;
    }

    #scrollDown {
        position: relative; 
        top: 40vh;
        margin: 0 auto;
        width: 4em;
        height: auto;
        border-radius: 50%;
    }

    .projectInfo {
        margin-left: 1rem;
        /* position: relative; 
        top: 50vh; */
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

    /* section {
        scroll-snap-align: none;
        -webkit-scroll-snap-destination: 50% 50%;
    } */

    #hero {
        background-image: url("../images/bulbs.svg");
        background-position: center;
        background-repeat: no-repeat;
        margin: 0;
        height: 50vh;
    }

    .jumbotron {
        position: relative;
        top: 54vh;
        padding: 0!important;
        text-align: center;
        margin: 0!important;
    }

    h1 {
        font-size: 2.4rem !important;
        font-weight: 500;
        color: #000;
        /* display: none; */
    }

    h4 {
        font-size: 1.4rem !important;
    }

    .onoffswitch {
        margin: 0 auto; 
        width: 40vw;
    }

    .onoffswitch-switch {
        right: 116px;
    }

    .onoffswitch-inner:before {
        content: "OFF";
        padding-right: 120px;
        background-color: #ffff00;
        color: #101010;
    }

    #scrollDown {
        position: relative; 
        top: 40vh;
        margin: 0 auto;
        width: 4em;
        height: auto;
        border-radius: 50%;
    }
}

/* // Medium devices (tablets, less than 992px) */
@media  (min-width: 768px) and (max-width: 991.98px) {
    #hero {
        background-image: url("../images/bulbs.svg");
        background-position: right;
        background-repeat: no-repeat;
        margin-right: 4rem;
        height: 95vh;
    }

    .jumbotron {
        position: relative;
        padding: 3.8rem 0 0 6rem!important;
    }

    h1 {
        font-size: 2.4rem !important;
        font-weight: 500;
        color: #000;
        /* display: none; */
    }

    h4 {
        font-size: 1.4rem !important;
    }

    /* .onoffswitch {
        margin: 0 auto; 
        width: 40vw;
    } */

    .onoffswitch-switch {
        right: 86px;
    }

    .onoffswitch-inner:before {
        content: "OFF";
        padding-right: 40px;
        background-color: #ffff00;
        color: #101010;
    }

    #scrollDown {
        position: relative; 
        top: 40vh;
        margin: 0 auto;
        width: 4em;
        height: auto;
        border-radius: 50%;
    }

    .projectInfo {
        margin-left: 5rem;
    }
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}